*{
  box-sizing: border-box;
}
body{
  margin-left: 15%;
  margin-right:15%;
}
.line{
  border-bottom: 10px solid black;
  width: 100%;

}
.recipe{
  top:60%;
  display: block;
}
.recipeImage{
  width: 100%;
  display: block;
}
.dateCategory{
  color: gray;
  font-size: .7em;
}
.print{
  float:right;

}
.print p{
  display: inline;
  color: gray;
  margin: 10px 0px 10px 0px;
}
.title{
  display: block;
}

.clear{
  clear: both;
}
.header{
position: relative;
}
.delicious{
width:20%;
display: inline;


}
#logo{
  display: inline;
}
#blogTitle{
    display: inline;
    width: 10%;
  }
#blogMotto{
    display: inline;
    margin: 0%;
    width: 10%;
    t
}
.socialBtns{
  display:inline;
  width: 35%;
  float: right;

}
.ingredients{
  background-image: url(img/list-bg.png);
  height: 300px;
  margin-top: 5%;
  margin-bottom:5%;
}

.ingredients ul {
padding: 5%;
-webkit-column-count:2;
-moz-column-count:2;
column-count: 2;
list-style: none;

}
.ingredients li{
  padding-top: 10px;
}
.author{
  display: inline;
}
.authorTitle{
  display: block;
  float: right;
  width: 30%;



}
.pictureBox{
  height: 10%;
  width: 10%;
}
.authorBio{
  display: inline;
}
button{
  padding: 3% 5% 3% 5%;
  width: 30%;
  color:white;
  background-color: #bc7058;
  border-style: none;
  font-size: 1.0em;
  font-weight: lighter;
  font-family:sans-serif;
  float: right;
}
footer{
  font-size:0.9em;
  color:gray;
  text-align: center;
}
.footerLineLeft{
  float: left;
  border-bottom: 1px solid black;
  display: block;
  width: 48%;
}
#footerLogo{
  text-align: center;

}
.footerText{
    margin: 5%;
}
.logoDiv{
  display: block;
  width: 100%;


}
